[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-filter = "*"
markdown = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
psycopg2-binary = "*"
django-templated-mail = "*"
gunicorn = "*"
dj-database-url = "*"
whitenoise = "*"
django-rest-framework-docs = "*"
django-cors-headers = "*"
redis = "*"
celery = "*"
flower = "*"
requests = "*"
reportlab = "*"
twilio = "*"
python-dotenv = "*"
phonenumbers = "*"

[dev-packages]

[requires]
python_version = "3.11"
